.container {
  // margin-top: 1rem;
  background-color: #1d1e24;
  width: 100%;

  .messages {
    padding: 1rem;
    height: calc(100vh - 60px - 70px - 85px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    // &::-webkit-scrollbar-track {
    // }

    &::-webkit-scrollbar-thumb {
      background-color: #2e2e2e;
      border-radius: 0.4rem;
    }
  }

  .input {
    // background-color: #242424;
    padding: 0.7rem;
    display: flex;
    align-items: center;
  }
}

.placeholder {
  height: 100%;
  width: 100%;
  background-color: #1d1e24;
}
