.container {
  width: 100%;
  background-color: #fff;

  .messages {
    padding: 1rem;
    height: calc(100vh - 60px - 60px - 100px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .input {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;

    .form {
      background-color: #e5e5ea;
      padding: 0.5rem 1rem;
      border-radius: 100vw;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      input {
        flex: 1;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 1rem;
      }

      button {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: rgb(18, 22, 233);
        cursor: pointer;
      }
    }
  }
}
