.container {
  background-color: #1b1b1b;

  .messages {
    padding: 1rem;
    height: calc(100vh - 60px - 80px - 80px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .input {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #242424;
    padding: 1rem;
    display: flex;
    align-items: center;

    .form {
      background-color: #35373b;
      padding: 0.7rem 1rem;
      border-radius: 0.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      input {
        color: #7d7f83;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 1rem;
      }

      button {
        padding-left: 0.8rem;
        background-color: transparent;
        font-size: 1.1rem;
        color: #2c8963;
        cursor: pointer;
        border-left: 1px solid #5c5c5c;

        &:hover {
          color: #31b47e;
        }
      }
    }
  }
}
