.container {
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  gap: 0.6rem;
  border-radius: 0.6rem;
  background-color: #fff;
  box-shadow: 0 0 0.4rem rgba(112, 111, 111, 0.1);

  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }

  .imageContainer {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1rem;
      overflow: hidden;
      font-weight: 500;
      color: #101010;
    }

    p {
      font-size: 0.9rem;
      color: #a8a8a8;
    }
  }

  .time {
    font-size: 0.8rem;
    color: #a8a8a8;
  }
}
