.container {
  padding: 0.8rem 1rem;
  display: grid;
  grid-template-columns: 40px 1fr 50px;
  grid-template-rows: 40px;
  gap: 0.8rem;

  &:hover {
    background-color: #35373b;
    cursor: pointer;
  }

  .imageContainer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    h3 {
      overflow: hidden;
      font-size: 1rem;
      font-weight: 500;
      color: #f3f3f3;
    }

    p {
      font-size: 0.8rem;
      font-weight: 500;
      color: #797979;
    }
  }

  .time {
    font-size: 0.8rem;
    color: #a8a8a8;
  }
}
