.container {
  main {
    background-color: #fafafa;
    .content {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 768px) {
    main {
      .content {
        grid-template-columns: 2fr 3fr;
      }
    }
  }

  @media (min-width: 1024px) {
    main {
      .content {
        grid-template-columns: 2fr 4fr;
      }
    }
  }

  @media (min-width: 1440px) {
    main {
      .content {
        grid-template-columns: 1fr 4fr;
      }
    }
  }
}

.active {
  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
