.container {
  main {
    .users {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: rgb(226, 226, 226);
      padding: 1rem;

      .user {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgb(221, 221, 221);
        padding: 1rem;
      }
    }
  }
}
