.container {
  main {
    .users {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;

      .user {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgb(188, 227, 222);
        padding: 1rem;
      }
    }
  }
}
