.form {
  position: relative;
  background-color: #16171b;
  padding: 0.6rem;
  padding-left: 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .previewImage {
    position: absolute;
    bottom: 4.2rem;
    right: 0;
    width: 100%;
    max-width: 300px;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      color: #fff;
      background-color: rgb(25, 26, 25);
      border-radius: 50%;
      font-size: 1.2rem;
      padding: 0.4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  input {
    color: #f3f3f3;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    width: 100%;
  }

  .image {
    font-size: 1.6rem;
    color: #f3f3f3;
    cursor: pointer;
  }

  button {
    padding: 0.6rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    background-color: #f3fc8a;
    color: #16171b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #e8fd02;
    }
  }
}
