.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #24242f;
  color: #fff;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .content {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-size: clamp(1.4rem, 1rem + 6vw, 5rem);
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.6rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.2rem;
        color: rgb(145, 145, 145);
        max-width: 400px;
        margin: auto;
        margin-bottom: 3rem;
      }

      button {
        background: #3174fd;
        color: #fff;
        border: none;
        padding: 1.2rem 4rem;
        border-radius: 100vmax;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        min-width: 200px;

        &:hover {
          background: #0557fa;
        }
      }
    }
  }
}
