.container {
  background: #1a1820;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    height: 100vh;
    padding: 1rem;

    .provider {
      width: 100%;
      max-width: 400px;
      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        padding: 1rem 1rem;
        border-radius: 0.4rem;
        background: #24242f;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        transition: all 0.2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        &:hover {
          background: #37404f;
          color: white;
        }

        .icon {
          font-size: 1.6rem;
        }
      }
    }
  }
}
