.container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: #000;

    &:hover {
      color: #ff0000;
    }
  }
}
