.container {
  padding: 1rem;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #242424;
  color: #f3f3f3;
  border-left: 1px solid #2b2b2b;
  border-bottom: 1px solid #252525;

  .backButton {
    button {
      font-size: 2rem;
      color: rgb(209, 207, 207);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: rgb(150, 150, 150);
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    .image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #2b2b2b;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      font-size: 0.8rem;
      color: rgb(104, 102, 102);
      font-weight: 500;
    }
  }

  @media screen and (min-width: 768px) {
    gap: 0;

    .backButton {
      button {
        display: none;
      }
    }
  }
}
