.container {
  display: grid;
  grid-template-columns: 1.4rem 1fr;
  align-items: center;
  padding: 0.6rem;
  gap: 0.6rem;
  border-radius: 0.6rem;
  background-color: #35373b;
  margin: 0 1rem 1rem 1rem;
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.2rem;
    color: #95979b;
  }

  input {
    border: none;
    outline: none;
    color: #f3f3f3;
    background-color: inherit;
  }
}
