.container {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 70px);

  h1 {
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #f3f3f3;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }
}
