.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .message {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .sender {
    color: white;
    margin-left: auto;

    .text {
      background-color: #703efe;
      padding: 0.4rem 1rem;
      border-radius: 0.8rem 0.8rem 0 0.8rem;
    }

    .time {
      font-size: 0.8rem;
      color: #a1a1aa;
      margin-right: auto;
    }
  }

  .receiver {
    color: black;
    margin-right: auto;

    .text {
      background-color: #e5e5ea;

      padding: 0.4rem 1rem;
      border-radius: 100vw 100vw 0 100vw;
    }

    .time {
      font-size: 0.8rem;
      color: #a1a1aa;
      margin-left: auto;
    }
  }
}
