.container {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0.8rem;
  max-width: 800px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .image {
    margin-top: 0.4rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;
      margin-bottom: 0.4rem;

      .name {
        font-weight: 500;
        color: #f1f1f1;
      }

      .time {
        color: #a1a1a1;
        opacity: 0.8;
        font-size: 0.7rem;
      }
    }

    .message {
      padding: 0.8rem 1rem;
      color: #c1c3c4;
      background-color: #35373b;
      border-radius: 0.8rem;
      border-top-left-radius: 0;
      word-break: break-all;
    }

    .messageImage {
      margin: 0.6rem 0;
      overflow: hidden;
      border-radius: 0.8rem;
      max-width: 80%;
    }
  }
}

.sender {
  direction: rtl;

  .content {
    .message {
      border-radius: 0.8rem 0 0.8rem 0.8rem;
      background-color: #268c61;
      color: #e5e5e5;
      direction: ltr;
    }
  }
}
